/* div{
    height: 200px;
    width: 200px;
    background-color:black ;
}
 @media(max-width:300px){
    div{
        background-color: green;
    }
}
@media(max-width:300px)and(min-width:400px){
    div{
        background-color:pink;
    }
}
@media(max-width:400px)and (min-width:600px){
    div{
        background-color: red;
    }
}
@media(max-width:600px){
    div{
        background-color: blue;
    }
}   */
/* css grid */
/* .container{
background-color: red;
height: 600px;
width: 700px;
display: grid;
/* grid-template-columns:140px 140px 140px;
 grid-template-rows: 140px 140px 140px;  */
 /* grid-template-columns:repeat(3,1fr);
 grid-template-rows: repeat(3,1fr);
column-gap:15px ;
row-gap: 15px;
}
.items{
background-color:blue ;
/* height:100px ;
width:130px ; */
/* } */
/* .item1{
    grid-column-start:1 ;
    grid-column-end: 3;
/* } */ 
.div1{
    background-color: brown;
    height: 300px;
    width: 400px;
    display: grid;
    place-items: center;
}
.div2{
    background-color: aqua;
    height: 100px;
    width: 100px;
}

