div{
    height: 100px;
    width: 100px;
    background-color: brown;
}
@media(width:500px){
    div{
        background-color: blue;
    }
}
@media(min-width:500px){
    div{
         background-color: red;
       /* More than 500px */
    }
}
/* @media(max-width:500px){
    div{
        background-color: red;
        less than 500px
    }
} */

